In [5]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [9]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [10]:
nfl_frame = pd.read_clipboard()

In [11]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,NFC East
1,1,Tampa Bay Buccaneers,250,393,1,0.514,1976,866,NFC South
2,3,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
3,4,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
4,5,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
5,6,New England Patriots[b],476,383,9,0.554,1960,868,AFC East

In [13]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [15]:
nfl_frame['First NFL Season']

0    1960
1    1976
2    1921
3    1920
4    1966
5    1960
Name: First NFL Season, dtype: int64

In [16]:
nfl_frame.Team

0             Dallas Cowboys
1       Tampa Bay Buccaneers
2          Green Bay Packers
3              Chicago Bears
4             Miami Dolphins
5    New England Patriots[b]
Name: Team, dtype: object

In [19]:
DataFrame(nfl_frame,columns=['Team','First NFL Season','Total Games'])

                      Team  First NFL Season Total Games
0           Dallas Cowboys              1960         860
1     Tampa Bay Buccaneers              1976         866
2        Green Bay Packers              1921       1,320
3            Chicago Bears              1920       1,354
4           Miami Dolphins              1966         784
5  New England Patriots[b]              1960         868

In [20]:
DataFrame(nfl_frame,columns=['Team','First NFL Season','Total Games','Stadium'])

                      Team  First NFL Season Total Games  Stadium
0           Dallas Cowboys              1960         860      NaN
1     Tampa Bay Buccaneers              1976         866      NaN
2        Green Bay Packers              1921       1,320      NaN
3            Chicago Bears              1920       1,354      NaN
4           Miami Dolphins              1966         784      NaN
5  New England Patriots[b]              1960         868      NaN

In [23]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,NFC East
1,1,Tampa Bay Buccaneers,250,393,1,0.514,1976,866,NFC South
2,3,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
3,4,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
4,5,Miami Dolphins,439,341,4,0.563,1966,784,AFC East

In [24]:
nfl_frame.tail()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
1,1,Tampa Bay Buccaneers,250,393,1,0.514,1976,866,NFC South
2,3,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
3,4,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
4,5,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
5,6,New England Patriots[b],476,383,9,0.554,1960,868,AFC East

In [25]:
nfl_frame.ix[3]

Rank                            4
Team                Chicago Bears
Won                           744
Lost                          568
Tied                           42
Pct.                        0.565
First NFL Season             1920
Total Games                 1,354
Division                NFC North
Name: 3, dtype: object

In [26]:
nfl_frame['Stadium']="Levi's Stadium"

In [27]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,NFC East,Levi's Stadium
1,1,Tampa Bay Buccaneers,250,393,1,0.514,1976,866,NFC South,Levi's Stadium
2,3,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,Levi's Stadium
3,4,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,Levi's Stadium
4,5,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,Levi's Stadium
5,6,New England Patriots[b],476,383,9,0.554,1960,868,AFC East,Levi's Stadium

In [30]:
nfl_frame["Stadium"] = np.arange(6)
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,NFC East,0
1,1,Tampa Bay Buccaneers,250,393,1,0.514,1976,866,NFC South,1
2,3,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,2
3,4,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,3
4,5,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,4
5,6,New England Patriots[b],476,383,9,0.554,1960,868,AFC East,5

In [32]:
stadiums = Series(["Levi's Stadium",'AT&T Stadium'],index=[4,0])

In [33]:
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [34]:
nfl_frame['Stadium']=stadiums
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,NFC East,AT&T Stadium
1,1,Tampa Bay Buccaneers,250,393,1,0.514,1976,866,NFC South,NaN
2,3,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NaN
3,4,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
4,5,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,Levi's Stadium
5,6,New England Patriots[b],476,383,9,0.554,1960,868,AFC East,NaN

In [35]:
del nfl_frame['Stadium']
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,NFC East
1,1,Tampa Bay Buccaneers,250,393,1,0.514,1976,866,NFC South
2,3,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
3,4,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
4,5,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
5,6,New England Patriots[b],476,383,9,0.554,1960,868,AFC East

In [36]:
data = {'City':['SF','LA','NYC'],
       'Population':[837000,3880000,8400000]}

city_frame = DataFrame(data)

city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [37]:
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True