In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
arr1 = np.arange(9).reshape((3,3))

In [3]:
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [4]:
np.concatenate([arr1,arr1],axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [5]:
np.concatenate([arr1,arr1],axis=0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [8]:
ser1 = Series([0,1,2],index=['T','U','V'])
ser2 = Series([3,4],index=['X','Y'])
pd.concat([ser1,ser2,ser1])

T    0
U    1
V    2
X    3
Y    4
T    0
U    1
V    2
dtype: int64

In [9]:
pd.concat([ser1,ser2],axis=1)

     0    1
T  0.0  NaN
U  1.0  NaN
V  2.0  NaN
X  NaN  3.0
Y  NaN  4.0

In [10]:
pd.concat([ser1,ser2],keys=['cat1','cat2'])

cat1  T    0
      U    1
      V    2
cat2  X    3
      Y    4
dtype: int64

In [11]:
pd.concat([ser1,ser2],axis=1,keys=['cat1','cat2'])

   cat1  cat2
T   0.0   NaN
U   1.0   NaN
V   2.0   NaN
X   NaN   3.0
Y   NaN   4.0

In [12]:
dframe1 = DataFrame(np.random.randn(4,3),columns=['X','Y','Z'])
dframe2 = DataFrame(np.random.randn(3,3),columns=['Y','Q','X'])

In [13]:
dframe1

          X         Y         Z
0  1.080072  0.916599 -0.568854
1  0.087759 -0.690561 -0.881233
2 -1.592524  0.804163 -1.497547
3  1.031930  0.655758  0.565437

In [14]:
dframe2

          Y         Q         X
0 -1.662825  0.494050  0.138375
1 -0.615186  0.586331  2.617793
2 -0.378154  0.843905  1.552035

In [15]:
pd.concat([dframe1,dframe2])

          Q         X         Y         Z
0       NaN  1.080072  0.916599 -0.568854
1       NaN  0.087759 -0.690561 -0.881233
2       NaN -1.592524  0.804163 -1.497547
3       NaN  1.031930  0.655758  0.565437
0  0.494050  0.138375 -1.662825       NaN
1  0.586331  2.617793 -0.615186       NaN
2  0.843905  1.552035 -0.378154       NaN

In [16]:
pd.concat([dframe1,dframe2],ignore_index=True)

          Q         X         Y         Z
0       NaN  1.080072  0.916599 -0.568854
1       NaN  0.087759 -0.690561 -0.881233
2       NaN -1.592524  0.804163 -1.497547
3       NaN  1.031930  0.655758  0.565437
4  0.494050  0.138375 -1.662825       NaN
5  0.586331  2.617793 -0.615186       NaN
6  0.843905  1.552035 -0.378154       NaN

In [17]:
pd.concat([ser1,ser2],axis=1,join_axes=[['U','V','Y']])

     0    1
U  1.0  NaN
V  2.0  NaN
Y  NaN  4.0