In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [2]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0 -0.184812 -0.512101  X  alpha
1 -0.647738  0.673769  X   beta
2 -0.249383 -1.029004  Y  alpha
3  0.216614  1.788742  Y   beta
4  0.192567 -0.338917  Z  alpha

In [3]:
group1 = dframe['dataset1'].groupby(dframe['k1'])
group1

In [4]:
group1.mean()

k1
X   -0.416275
Y   -0.016384
Z    0.192567
Name: dataset1, dtype: float64

In [5]:
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB   -0.647738
    JAN   -0.249383
NY  FEB    0.216614
    JAN    0.003877
Name: dataset1, dtype: float64

In [6]:
dframe

   dataset1  dataset2 k1     k2
0 -0.184812 -0.512101  X  alpha
1 -0.647738  0.673769  X   beta
2 -0.249383 -1.029004  Y  alpha
3  0.216614  1.788742  Y   beta
4  0.192567 -0.338917  Z  alpha

In [7]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X  -0.416275  0.080834
Y  -0.016384  0.379869
Z   0.192567 -0.338917

In [8]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha -0.184812 -0.512101
   beta  -0.647738  0.673769
Y  alpha -0.249383 -1.029004
   beta   0.216614  1.788742
Z  alpha  0.192567 -0.338917

In [9]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]
dataset2_group.mean()

          dataset2
k1 k2
X  alpha -0.512101
   beta   0.673769
Y  alpha -1.029004
   beta   1.788742
Z  alpha -0.338917

In [10]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [12]:
for name,group in dframe.groupby('k1'):
    print('This is the {} group'.format(name))
    print(group)
    print('\n')

This is the X group
   dataset1  dataset2 k1     k2
0 -0.184812 -0.512101  X  alpha
1 -0.647738  0.673769  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2 -0.249383 -1.029004  Y  alpha
3  0.216614  1.788742  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4  0.192567 -0.338917  Z  alpha

In [13]:
for(k1,k2), group in dframe.groupby(['k1','k2']):
    print('Key1 = {} Key2 = {}'.format(k1,k2))
    print(group)
    print('\n')

Key1 = X Key2 = alpha
   dataset1  dataset2 k1     k2
0 -0.184812 -0.512101  X  alpha


Key1 = X Key2 = beta
   dataset1  dataset2 k1    k2
1 -0.647738  0.673769  X  beta


Key1 = Y Key2 = alpha
   dataset1  dataset2 k1     k2
2 -0.249383 -1.029004  Y  alpha


Key1 = Y Key2 = beta
   dataset1  dataset2 k1    k2
3  0.216614  1.788742  Y  beta


Key1 = Z Key2 = alpha
   dataset1  dataset2 k1     k2
4  0.192567 -0.338917  Z  alpha

In [14]:
gr = dframe.groupby('k1')
gr.get_group('X')

   dataset1  dataset2 k1     k2
0 -0.184812 -0.512101  X  alpha
1 -0.647738  0.673769  X   beta

In [15]:
group_dict = dict(list(dframe.groupby('k1')))
group_dict['X']

   dataset1  dataset2 k1     k2
0 -0.184812 -0.512101  X  alpha
1 -0.647738  0.673769  X   beta

In [23]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -0.184812 -0.512101
 1 -0.647738  0.673769
 2 -0.249383 -1.029004
 3  0.216614  1.788742
 4  0.192567 -0.338917, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}