In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [5]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [9]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [11]:
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [16]:
dframe = DataFrame(randn(25).reshape((5,5)),index=
['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  0.887484 -0.441239  0.486735 -0.106796  0.686348
B  1.003182 -1.402193 -0.783864  1.094309  1.235271
D -0.403259  0.858421  1.112258 -0.094263  0.422065
E -1.748742  0.481235  0.768823 -0.646783  0.699921
F  0.564962  2.013003  0.105780 -0.707930 -0.053025

In [15]:
new_index = ['A','B','C','D','E','F']
dframe2 = dframe.reindex(new_index)
dframe2

       col1      col2      col3      col4      col5
A  1.119778 -0.106050  1.199315  2.131521  0.272475
B -0.065856 -0.035019 -0.188700 -1.351028  1.256816
C       NaN       NaN       NaN       NaN       NaN
D -0.335058  0.938288  0.589602 -0.820565  0.772779
E  0.369153  1.953803  0.579110 -1.265515 -0.186498
F  0.026544  2.498259  0.828809 -1.468951 -1.239055

In [17]:
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  1.119778 -0.106050  1.199315  2.131521  0.272475   NaN
B -0.065856 -0.035019 -0.188700 -1.351028  1.256816   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.335058  0.938288  0.589602 -0.820565  0.772779   NaN
E  0.369153  1.953803  0.579110 -1.265515 -0.186498   NaN
F  0.026544  2.498259  0.828809 -1.468951 -1.239055   NaN

In [18]:
dframe

       col1      col2      col3      col4      col5
A  0.887484 -0.441239  0.486735 -0.106796  0.686348
B  1.003182 -1.402193 -0.783864  1.094309  1.235271
D -0.403259  0.858421  1.112258 -0.094263  0.422065
E -1.748742  0.481235  0.768823 -0.646783  0.699921
F  0.564962  2.013003  0.105780 -0.707930 -0.053025

In [19]:
dframe.ix[new_index,new_columns]

       col1      col2      col3      col4      col5  col6
A  0.887484 -0.441239  0.486735 -0.106796  0.686348   NaN
B  1.003182 -1.402193 -0.783864  1.094309  1.235271   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.403259  0.858421  1.112258 -0.094263  0.422065   NaN
E -1.748742  0.481235  0.768823 -0.646783  0.699921   NaN
F  0.564962  2.013003  0.105780 -0.707930 -0.053025   NaN