In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
import pandas.util.testing as tm
tm.N = 3

def unpivot(frame):
    N,K = frame.shape
    data = {'value' : frame.values.ravel('F'),
           'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index),K)}
    return DataFrame(data, columns=['date','variable','value'])

dframe = unpivot(tm.makeTimeDataFrame())

In [7]:
tm.makeTimeDataFrame()

                   A         B         C         D
2000-01-03  0.196792 -0.022807  0.301429 -0.382873
2000-01-04  0.766671  0.117473  0.381845 -0.490462
2000-01-05  0.591379 -0.813657  0.022496 -0.131340

In [8]:
dframe

         date variable     value
0  2000-01-03        A  0.426198
1  2000-01-04        A  1.115276
2  2000-01-05        A -0.761555
3  2000-01-03        B -0.018798
4  2000-01-04        B  0.341850
5  2000-01-05        B -1.058066
6  2000-01-03        C -0.014115
7  2000-01-04        C -1.882305
8  2000-01-05        C  0.489467
9  2000-01-03        D -0.632085
10 2000-01-04        D -0.249412
11 2000-01-05        D -0.090213

In [9]:
dframe_piv = dframe.pivot('date','variable','value')

In [10]:
dframe_piv

variable           A         B         C         D
date
2000-01-03  0.426198 -0.018798 -0.014115 -0.632085
2000-01-04  1.115276  0.341850 -1.882305 -0.249412
2000-01-05 -0.761555 -1.058066  0.489467 -0.090213

In [ ]:
#よくわからなかったので後で動画をみる！