In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
ser = Series(np.random.randn(6),index=[[1,1,1,2,2,2],
                                      ['a','b','c','a','b','c']])

In [3]:
ser

1  a   -1.343803
   b   -1.146478
   c    1.005534
2  a    1.494421
   b   -1.291624
   c   -1.100445
dtype: float64

In [4]:
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
ser[1]

a   -1.343803
b   -1.146478
c    1.005534
dtype: float64

In [6]:
ser[2]

a    1.494421
b   -1.291624
c   -1.100445
dtype: float64

In [7]:
ser

1  a   -1.343803
   b   -1.146478
   c    1.005534
2  a    1.494421
   b   -1.291624
   c   -1.100445
dtype: float64

In [8]:
ser[:,'a']

1   -1.343803
2    1.494421
dtype: float64

In [10]:
dframe = ser.unstack()
dframe

          a         b         c
1 -1.343803 -1.146478  1.005534
2  1.494421 -1.291624 -1.100445

In [11]:
dframe.T.unstack()

1  a   -1.343803
   b   -1.146478
   c    1.005534
2  a    1.494421
   b   -1.291624
   c   -1.100445
dtype: float64

In [13]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),
                   index=[['a','a','b','b'],[1,2,1,2]],
                   columns=[['NY','NY','LA','SF'],
                           ['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [15]:
dframe2.index.names = ['INDEX_1','INDEX_2']
dframe2.columns.names = ['Cities','Temp']
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [16]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [17]:
dframe2.sortlevel(1)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [18]:
dframe2.sortlevel(1).sortlevel(0)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [19]:
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27